* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color:orange;
  padding: 50px 50px;
  font-family: "Arial";
  overflow-x: hidden;
}

h2 {
  color: white;
  font-size: 25px;
}
button{
    cursor: pointer;
}

/* Carousel container */
.carousel-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.current-slide{
  transform: translateY(-10px);
}

/* Carousel*/
.carousel {
  display: flex;
  gap: 50px;
  position: relative;
  transition: .5s transform ease-in-out;
}

/* Buttons */
.next {
  position: absolute;
  margin-right: 50px;
  right: 0;
  top: 30%;
  z-index: 1;
  width: 40px;
  height: 40px;
  background-size: cover;
  border-radius: 50%;
  border: none;
  font-size: 20px;
}
.previous {
  position: absolute;
  top: 30%;
  z-index: 1;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  font-size: 20px;
}


/* Carousel-item */
.carousel-item {
  background-color: white;
  box-shadow: -14px 9px 19px rgba(82, 82, 82, 0.25);
  transition: 0.2s transform ease-in-out;
}
.carousel-item:hover {
  transform: translateY(-10px);
}
.carousel-item img {
  width: 500px;
}
.carousel-item-footer {
  height: 70px;
  padding: 10px;
}

/* Carousel pagination */
.carousel-pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.carousel-pagination div {
  background-color: #fff;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.current-indicator {
  transform: scale(1.5);
}
